name: Check if we need to automatically add help for a module

on:
  issue_comment:
    types: [created, edited]

jobs:
  moduleHelpAdd:
    name: Add help for module '${{ github.event.comment.body }}'
    if: github.event.issue.number == 43 && ! startsWith(github.event.comment.body, '#')
    runs-on: ubuntu-latest
    env:
      MODULE_NAME: ${{ github.event.comment.body }}
    steps:

    - name: Comment back saying the process has started
      uses: jungwinter/comment@v1
      id: create
      with:
        type: create
        issue_number: ${{ github.event.issue.number }}
        body: "#. Hi @${{ github.event.sender.login }}, I've started working on your module '${{ github.event.comment.body }}'. You can follow the details [under Actions](https://github.com/Jawz84/explainpowershell/actions/runs/${{ github.run_id }}), but I will report back here when I'm done too."
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: install module if necessary
      shell: pwsh
      run: |
        $env:MODULE_NAME = $env:MODULE_NAME.Trim()
        if (-not (Get-Module -ListAvailable -Name $env:MODULE_NAME)) {
          Install-Module -Force $env:MODULE_NAME.replace('*','')
          Write-Output "Module '$env:MODULE_NAME' installed"
        }
        else {
          Write-Output "Module '$env:MODULE_NAME' present"
        }

    - uses: actions/checkout@v1

    - name: get help info
      shell: pwsh
      run: |
        $helpCollectorSplat = @{
          ModulesToProcess = @(Get-Module -ListAvailable $env:MODULE_NAME)
          verbose = $true
        }

        ./explainpowershell.helpcollector/helpcollector.ps1 @helpCollectorSplat
        | Tee-Object -variable out
        | ConvertTo-Json
        | Out-File -path "./explainpowershell.helpcollector/help.$env:MODULE_NAME.cache.json"

        $fileSize = (Get-Item "./explainpowershell.helpcollector/help.$env:MODULE_NAME.cache.json").Length / 1Kb
        Write-Host "Output file size: $fileSize Kb, containing $($out.count) help items" -ForegroundColor Cyan
        if ($fileSize -eq 0) {
          throw "The script was unable to acquire help automatically. Feel free to create an issue for this."
        }

    - name: Authenticate with Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_SERVICE_PRINCIPAL }}
        enable-AzPSSession: true

    - name: Verify Azure Authentication
      uses: azure/powershell@v2
      with:
        inlineScript: |
          Write-Host "Testing Azure authentication..."
          $context = Get-AzContext
          Write-Host "Authenticated as: $($context.Account.Id)"
          Write-Host "Subscription: $($context.Subscription.Name)"
        azPSVersion: 'latest'

    - name: Write help info
      uses: azure/powershell@v2
      with:
        inlineScript: |
          ./explainpowershell.helpcollector/helpwriter.ps1 -HelpDataCacheFilename "./explainpowershell.helpcollector/help.$env:MODULE_NAME.cache.json" -IsProduction
        azPSVersion: 'latest'

    - name: Comment back saying the module was added successfully
      if: success()
      uses: jungwinter/comment@v1
      with:
        type: edit
        issue_number: ${{ github.event.issue.number }}
        comment_id: ${{ steps.create.outputs.id }}
        body: "#. Great news @${{ github.event.sender.login }}, your module '${{ github.event.comment.body }}' was added successfully! :+1:"
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Comment back saying the module was not added successfully
      if: failure()
      uses: jungwinter/comment@v1
      with:
        type: edit
        issue_number: ${{ github.event.issue.number }}
        comment_id: ${{ steps.create.outputs.id }}
        body: "#. Sorry @${{ github.event.sender.login }} cc @jawz84, I was not able to process module '${{ github.event.comment.body }}' on my own.. :-( [See details here](https://github.com/Jawz84/explainpowershell/actions/runs/${{ github.run_id }})"
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Calculate new HelpMetaData
      uses: azure/powershell@v2
      with: 
        inlineScript: |
          Get-AzFunctionApp
          | Where-Object { $_.Name -match 'powershellexplainer' -and $_.Status -eq 'running' }
          | ForEach-Object { Invoke-RestMethod -Uri "https://$($_.DefaultHostName)/api/MetaData?refresh=true" }
        azPSVersion: 'latest'