on:
  workflow_dispatch: 
name: Deploy Azure infra
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_SERVICE_PRINCIPAL }}
    - run: |
        $params = Get-Content ./explainpowershell.azureinfra/parameters.json | ConvertFrom-Json
        $params.parameters.functionAppName.value = "${{ secrets.FUNCTION_APP_NAME }}".trim()
        $params.parameters.appServicePlanName.value = "asp-" + "${{ secrets.FUNCTION_APP_NAME }}".trim()
        $params.parameters.storageAccountName.value = "${{ secrets.STORAGE_ACCOUNT_NAME }}".trim()
        $params.parameters.location.value = az group show --name "${{ secrets.RESOURCE_GROUP_NAME }}".trim() --query location -o tsv
        $params | ConvertTo-Json | Out-File ./explainpowershell.azureinfra/parameters.json -force
      name: Overwrite ARM parameters
      shell: pwsh
    - uses: Azure/arm-deploy@v1
      name: Deploy Bicep template for Storage and FunctionApp
      with:
        parameters: ./explainpowershell.azureinfra/parameters.json
        scope: resourcegroup
        resourceGroupName: ${{ secrets.RESOURCE_GROUP_NAME }}
        template: ./explainpowershell.azureinfra/template.bicep
        deploymentMode: incremental
    

